<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-2 m-p-0">
            <app-admin-sidebar></app-admin-sidebar>
        </div>
        <div class="col-12 col-lg-10 m-p-0">
            <app-admin-navbar></app-admin-navbar>
            <router-outlet></router-outlet>
            <footer class="border-top bg-dark p-2 float-bottom mt-5">
                <div class="col-lg-6">
                    <h6 class="text-white m-p-0">ADMIN</h6>
                    <p class="text-white m-p-0"><small>ADMIN DASHBOARD</small></p>
                </div>
            </footer>
        </div>
    </div>
</div>