<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <mat-card class="mt-5 mb-4">
                <p class="text-dark m-p-0 bg-light"><strong>Question.</strong> <br><h5 class="p-2">{{question.question}}</h5></p>
                <p class="text-dark m-p-0"><small><strong>Question created by - </strong>{{question.user.username}}</small></p>
                <p class="text-dark"><small><strong>Created Date - </strong>{{question.createdDate}}</small></p>
                <div class="">
                    <a [routerLink]="'/user-dashboard/answer/' + id" class="btn btn-sm btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg> Write your answer..</a>
                </div>
            </mat-card>
        </div>

        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="border-bottom">
                <h5>Given Answers by users...</h5>
            </div>
        </div>
    
        <div class="col-12 col-lg-10 offset-lg-1">
            <mat-card class="mt-3" *ngFor="let ans of answers">
                <mat-card-content>
                    <div class="col-lg-12 mt-2">
                        <mat-list role="list">
                            <div class="border-bottom d-flex">
                                <img style="border-radius: 2px;" height="30" src="../../../assets/img/login.jpg" alt="loading..">
                                <p class="text-dark px-2"> 
                                    <strong>{{ans.user.firstName}} {{ans.user.lastName}}</strong> <br>
                                    <small><strong>Uploaded time - </strong> {{ans.createdTime}}</small>
                                </p>
                            </div>
                            <div class="border-bottom p-2">
                                <strong>Answer - </strong>
                                <mat-list-item class="bg-light" style="height: auto;" role="listitem">
                                     <p class="text-dark"><br><h5>{{ans.answer}}</h5></p>
                                </mat-list-item>
                                <small>
                                    <strong>Answer given by - </strong> {{ans.user.username}}
                                    <strong>  | Created Date - </strong> {{ans.createdDate}}</small>
                            </div>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


